{% extends "layout.html" %}

{% block content %}

<div>
  <h1>@{{ object.username }}</h1>
  <h2>{{ object.get_full_name }}</h2>
</div>

<form action="{% url 'ask' %}" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input name="answerer_id" type="hidden" value="{{ object.pk }}"/>
  <button>Ask</button>
</form>

<ul>
  {% for question in questions %}
  <li>
    <p>
      <strong>{{ question.text }}</strong>
    </p>
    <p>{{ question.answer }}</p>
    <p>{{ question.name }} asked {{ question.created|timesince }} ago</p>
  </li>
  {% endfor %}
</ul>

{% endblock %}
